<!-- Header -->
<div class="ie-dropdown-fix" >
    <div class="row-fluid" id="header">

        <!-- Logo -->
        <div class="span5">

            <!--  <a href="#"><img src="images/logo.png" alt="logo" /></a>-->
            <h1><b>Chelo</b></h1>

        </div>

        <!-- Social / Contact -->
        <div class="span4 pull-right">

            <!-- Social Icons -->
            <ul class="social-icons">
                <li class="github"><a href="https://github.com/Chelo">Github</a></li>
                <li class="twitter"><a href="https://twitter.com/Yronu">Twitter</a></li>
                <li class="linkedin"><a href="http://lnkd.in/dYgHEvY">Linkedin</a></li>
            </ul>

            <!-- Contact Details -->
            <div id="contact-top">
                <ul>
                    <li><i class="icon-envelope"></i><a href="#">unoryche@gmail.com</a></li>
                </ul>
            </div>

        </div>
    </div>
<!-- Header / End -->


    <!-- Navigation -->
<!--
    <div id="navigation" class="margintop">
        <ul id="nav">

            <li><a href="index.html" class="active">Me</a></li>

            <li><a href="#">Pages</a>
            <ul>

                <li><a href="about.html">About Us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="full_width.html">Full Width</a></li>
                <li><a href="sidebar_right.html">Sidebar Right</a></li>
                <li><a href="sidebar_left.html">Sidebar Left</a></li>
                <li><a href="#">Child Menu</a>
                <ul>
                    <li><a href="#">Level 3 Menu 1</a></li>
                    <li><a href="#">Level 3 Menu 2</a></li>
                </ul>

                </li>


            </ul>
            </li>
            <li><a href="#">Special Pages</a>
            <ul>

                <li><a href="markeeting.html">Markeeting Page</a></li>
                <li><a href="features.html">Features Page</a></li>
                <li><a href="pricing_tables.html">Pricing Tables</a></li>


            </ul>
            </li>
            <li><a href="shortcodes.html">Shortcodes</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="#">Portfolio</a>
            <ul>
                <li><a href="portfolio_2.html">2 Columns</a></li>
                <li><a href="portfolio_3.html">3 Columns</a></li>
                <li><a href="portfolio_4.html">4 Columns</a></li>
                <li><a href="single_project.html">Single Project</a></li>
            </ul>
            </li>

            <li><a href="blog.html">Blog</a>
            <ul>
                <li><a href="blog_post.html">Single Post</a></li>

            </ul></li>
            <li><a href="contact.html">Contact</a></li>

        </ul>

    </div> 
    <div class="nav-shadow"></div>
    <div class="clear"></div>
-->
</div>
<!-- Navigation / End -->
