<!-- Header -->
<div class="ie-dropdown-fix" >
    <div class="row-fluid" id="header">

        <!-- Logo -->
        <div class="span5">

            <!--  <a href="#"><img src="images/logo.png" alt="logo" /></a>-->
            <h1><b>Chelo</b></h1>

        </div>

        <!-- Social / Contact -->
        <div class="span4 pull-right">

            <!-- Social Icons -->
            <ul class="social-icons">
                <li class="github"><a href="https://github.com/Chelo">Github</a></li>
                <li class="twitter"><a href="https://twitter.com/Yronu">Twitter</a></li>
                <li class="linkedin"><a href="http://lnkd.in/dYgHEvY">Linkedin</a></li>
            </ul>

            <!-- Contact Details -->
            <div id="contact-top">
                <ul>
                    <li><i class="icon-envelope"></i><a href="#">unoryche@gmail.com</a></li>
                </ul>
            </div>

        </div>
    </div>
<!-- Header / End -->


    <!-- Navigation -->

    <div id="navigation" class="margintop">
        <ul id="nav">

            <li><a href="/index.html">Me</a></li>

            <li><a href="/experience">Experience</a></li>
        </ul>

    </div> 
    <div class="nav-shadow"></div>
    <div class="clear"></div>

</div>
<!-- Navigation / End -->
