<head>

<meta charset="utf-8">
<title>Chelo</title>

<!-- For Mobiles  -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../css/wide.css" id="layout">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/colors/pink.css" id="colors">

<!-- Java Script  -->
<script src="../js/jquery.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/selectnav.js"></script>
<script src="../js/flexslider.js"></script>
<script src="../js/twitter.js"></script>
<script src="../js/fancybox.js"></script>
<script src="../js/isotope.js"></script>
<script src="../js/bootstrap.js"></script>

<!-- Styles Switcher -->
<link rel="stylesheet" type="text/css" href="../css/switcher.css">
<script src="../js/switcher.js"></script>

<link rel="shortcut icon" href="../images/icons/mimo-favicon.ico">

</head>
